#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.allPosts {
  padding: 1rem; /* p-4 */
  text-align: left; /* text-left */
  background-color: #fac5e2; /* bg-pink-50 (A very light pink) */
  border: 1px solid #df7fb5; /* border border-pink-200 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition: box-shadow 300ms; /* transition-shadow duration-300 */
}

.allPosts:hover {
  /* Slightly more pronounced shadow on hover */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
}
.allComments {
  padding: 1rem; /* p-4 */
  text-align: left; /* text-left */
  background-color: #fddbee; /* bg-pink-50 (A very light pink) */
  border: 1px solid #eeb8d7; /* border border-pink-200 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition: box-shadow 300ms; /* transition-shadow duration-300 */
}

#todos-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#todos-container div {
  border: 1px solid #eeb8d7;
  background-color: #fddbee;
  padding: 1rem;
  border-radius: 0.5rem;
}

#delete {
  margin-left: 10px;
  font-size: 14px;
}

#todos-text-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

#nav-container {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.link {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
  padding: 10px;
  width: 100px;
}
